# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib

# Executables
client
server
*.exe
*.out
*.app

# VSCode settings
.vscode/

# Debug files
*.log
*.dSYM/
*.pch
*.swp

# Backup files
*~
*.bak
